<div style="text-align: center">
    <h2 style="color:green">Formatter & Converter</h2>
    <h5>JSON to XML converter</h5>
</div>

<p-splitter [style]="{ height: '200px' }" styleClass="p-mb-5" layout="horizontal">
    <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center
            p-jc-center">
            <textarea type="text" rows="30" cols="80" pInputTextarea [(ngModel)]="sourceText" (input)="getValue()"></textarea>

        </div>
    </ng-template>

    <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center
            p-jc-center">
            <textarea type="text" rows="30" cols="80" pInputTextarea value="{{finalText}}" disabled="true"></textarea>
        </div>
    </ng-template>
</p-splitter>