<div style="text-align: center">
    <h1 >SCAN Label </h1> 
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="mb-3">
             
              <input (change)="onUpload($event)" class="form-control" type="file" id="formFile">
              <button (click)="upload()" type="button" class="btn btn-primary mt-3">Upload</button>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
       </div>
    <!-- <input type="file" (change)="onUpload($event)"> -->
</div>

<div class="row" *ngIf="shipToAddress && trackingNumber">
    <div class="col-3"></div>
    <div class="col-4">
        <div class="card" style="width: 25rem;height: 20rem;">
            <div class="card-body">
                <h5 class="card-title">SHIP TO</h5>
                <p style="white-space: pre-line" class="card-text">{{shipToAddress}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 25rem;height: 5rem;">
            <div class="card-body">
                <h5 class="card-title">TRACKING #</h5>
                <p class="card-text">{{trackingNumber}}</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

 <div class="row" *ngIf="invalidImage">
    <div class="col-4"></div>
    <div class="col-4">
        <p *ngIf="invalidImage" style="white-space: pre-line" class="alert alert-success">Invalid Image</p>
    </div>
    <div class="col-4">
    </div>
</div>
 


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 