::ng-deep .p-splitter
{
    border:1px solid #ffffff !important;
}

::ng-deep .p-splitter-gutter
{
    width: 0px !important;
}
textarea {
    overflow-y: scroll;
    height: 400px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
 .reSplit
 {
    position: relative !important;
    left: 7% !important;
 }
 h2 {
    border-bottom: 4px solid grey;
    box-shadow: 0 3px 8px -5px rgba(0,0,0,.5);
   
 }
 h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
  }
  